@model HackQuarantine.Models.CommentRequest
@using HackQuarantine.Models;
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="modal fade" id="storeModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a Comment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="commentForm" asp-action="Privacy" method="post">
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="StoreId" id="storeId" />
                        <input type="hidden" asp-for="ItemId" id="itemId" />
                        <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input class="form-control" asp-for="Price" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SaleStatus">Sale Status?</label>
                            <select class="form-control" asp-for="SaleStatus">
                                <option value="" selected>--Choose here--</option>
                                <option value="LowQuantity">Low Quantity</option>
                                <option value="MediumQuantity">Medium Quantity</option>
                                <option value="HighQuantity">High Quantity</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="InStock">In Stock?</label>
                            <select class="form-control" asp-for="InStock">
                                <option value="" selected>--Choose here--</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes">Notes</label>
                            <textarea class="form-control" asp-for="Notes"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" data-save="modal">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-group">
        @foreach (Store store in Repository._stores)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">@store.Name</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        @foreach (Item item in store.Items)
                        {
                            <p><span style="font-weight: bold">Item Name: </span>@item.Name</p>
                            <!--We will have to figure out a way for these values to be calculated-->
                            <p><span style="font-weight: bold">Stock: </span>@(item.InStock == true ? "In stock!" : "Out of stock :(")</p>
                            <p><span style="font-weight: bold">Price: </span>$@item.Price</p>
                            @if (item.SaleStatus == SaleStatus.LowQuantity)
                            {
                                <p><span style="font-weight: bold">Price: </span>Low Quantity</p>
                            }
                            else if (item.SaleStatus == SaleStatus.MediumQuantity)
                            {
                                <p><span style="font-weight: bold">Price: </span>Medium Quantity</p>
                            }
                            else if (item.SaleStatus == SaleStatus.HighQuantity)
                            {
                                <p><span style="font-weight: bold">Price: </span>High Quantity</p>
                            }
                            @foreach (var comment in item.Comments)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Comment</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><span style="font-weight: bold">Date Reported: </span>@comment.Date</p>
                                        <p><span style="font-weight: bold">Stock: </span>@(item.InStock == true ? "In stock!" : "Out of stock :(")</p>
                                        <p><span style="font-weight: bold">Quantity: </span>$@item.Price</p>
                                        @if (item.SaleStatus == SaleStatus.LowQuantity)
                                        {
                                            <p><span style="font-weight: bold">Price: </span>Low Quantity</p>
                                        }
                                        else if (item.SaleStatus == SaleStatus.MediumQuantity)
                                        {
                                            <p><span style="font-weight: bold">Price: </span>Medium Quantity</p>
                                        }
                                        else if (item.SaleStatus == SaleStatus.HighQuantity)
                                        {
                                            <p><span style="font-weight: bold">Price: </span>High Quantity</p>
                                        }
                                    </div>
                                    <p><span style="font-weight: bold">Notes: </span>@comment.Notes</p>
                                </div>
                            }
                            <button onclick="addComment(@store.Id, @item.Id)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#storeModal" data-url="@Url.Action("CommentRequest")">Add a comment</button>
                            @*<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#storeModal" data-url="@Url.Action("CommentRequest")">Add a comment</button>*@
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
<script>
    function addComment(storeId, itemId) {
        $('#storeId').val(storeId);
        $('#itemId').val(itemId);
    }
</script>
