@model string[]
@using HackQuarantine.Models;
@{
    ViewData["Title"] = "Result";
    string search = Model[0] == null ? "" : Model[0].ToLower();
    string citySearch = Model[1].ToLower();
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search" id="search" />
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="container">
        <div class="row row-">
            <div class="col-md-11 col-xs-12">
                <button class="btn btn-default btn-sm" type="button">
                    Keyword
                </button>
                <button class="btn btn-default btn-sm" type="button">
                    Keyword
                </button>
                <button class="btn btn-default btn-sm" type="button">
                    Keyword
                </button>
                <button class="btn btn-default btn-sm" type="button">
                    Keyword
                </button>
            </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col-md-1 offset-md-0 col-xs-1 offset-xs-11">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter
                </button>
            </div>
        </div>
    </div>

    <div class="collapse" id="collapseFilter">
        <div class="card card-body">
            Filter into something...
        </div>
    </div>
    <h3>Result in @citySearch</h3>
    <br />

    @foreach (Store store in Repository._stores)
    {
        if (store.City.ToLower().Contains(citySearch))
        {
            foreach (Item item in store.Items)
            {
                if (item.Name.ToLower().Contains(search) || store.Name.ToLower().Contains(search) || String.IsNullOrEmpty(search))
                {
<div class="card">
    <div class="card-header">
        <h4><big>@store.Name</big> <small>@store.StoreType</small></h4>
    </div>
    <div style="margin-bottom: 10px" class="container borderline">
        <div id="card" class="list-group list-group-flush">
            <div class="list-group-item">
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                <p>@store.Address</p>
                <p>@store.Phone</p>
                <a href="https://@store.Website" target="_blank">@store.Website</a>
            </div>
            <div class="list-group-item">
                    <div class="row justify-content-md-start">
                        <div class="col-5">
                            <button class="btn btn-danger btn-sm">
                                <small>Stock Status</small>
                            </button>
                        </div>
                        <div class="col-6 text-nowrap">
                                # comments & # photos <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd" />
                                </svg>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
                }
            }
        }
    }


</body>
</html>
<script>
    $(document).ready(function () {
        $('#search').val(window.sessionStorage.getItem('search'));
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("div#card").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>